@import './base.css';

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a.link-white {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

a.link-white:hover {
  color: rgba(255, 255, 255);
}

.presentation-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
